/*
hoja de estilos 

esto es un comentario de bloque.
@author : Mikel bua 
@version: 1.0
@tags: css, basic,etc..
@licencia: mit
*/

/*ORDEN DEL CSS
1-reset.
2-@keyframes.
3-TODAS las etiquetas estilos generales. - normalize
4-Layouts
5-clases
6-ID Cosas mas especificas
*/

@import url("reset.css");
@import url("impresora.css") print;
@import url("normalize.css");

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
        border-radius: 128px;
    }
}

.animation {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;

}

h1 {
    color: black;
    font-size: 3em;
    text-align: center;
}

.parallax h1 {
    padding-top: 2em;
}

.parallax h2 {
    padding-top: 0.5em;
    font-size: 2em;
    align-content: center;
}

button {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

body {
    font-size: 16px;
    font-family: Arial,sans-serif;
    /*background-image: url(/images/office.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax {
    /* The image used */
    background-image: url("/helloweb/images/fondoParadax.jpg");
    /* Set a specific height */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.texto {
    height: 1000px;
    background-color: rgb(190, 111, 111);
    font-size: 36px;
}
.voluntario {
    color: white;
}

table {
    width: 50%;
    margin: auto;
}
td,
th {
    border: 1px solid #000;
    /* shorthand (abrebiatura) de*/
    /*
    border-width: 1px;
    border: solid;
    border-color:#000 ;
    */
    padding: 5px;
    text-align: center;
}

tr.d0 td {
    background-color: #CC9999;
    color: black;
}
tr.d1 td {
    background-color: #9999CC;
    color: black;
}

th {
    background-color: rgb(91, 93, 95);
}

td:hover {

    background-color: rgb(11, 167, 11);
}

a {
    color: black;
}

code {
    font-family: monospace;
    color: rgb(207, 7, 90);
    background-color: rgb(216, 231, 131);
}
p{
  margin: 5px 0px;
}
.container p {
    /*Esto es un selector descendente ,afecta a todos los parrafos <p> dentro de un div.container*/
    color: orangered;
}
.container p span {
    /*Todos los span qeu esten dentro de un parrafo que a su vez esten dentro de div.container*/
    color: #000;
}

p .especial {
    font-size: 2em;
    font-weight: 600;
}

p.especias {
    /*selecciona unicamente los PARRAFOS de CLASS ESPECIAL. no es descendente*/
    color: purple;
    background-color: rgb(216, 231, 131);
}

nav {
  background-image: url("/helloweb/images/menuEnlacesfondo.jpg");
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid black;
  display:flex;
}
 nav a{
    border-right: 2px solid  white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    color: aqua;
    font-size: 14px;
 }
 nav a:hover{
    font-size: 15px;
 }

 form{
     border: 1px solid grey;
     padding: 10px;
 }